<%= simple_form_for(restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: Restaurant::CATEGORIES, prompt: "Select category" %>
  <br>
  <%= f.submit "Create Restaurant", class: "btn btn-primary" %>
<% end %>

</div>
